<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516453685134-e3admtihb1kjlur9r6dta0i0itfbbi2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516453685134-e3admtihb1kjlur9r6dta0i0itfbbi2u</string>
	<key>API_KEY</key>
	<string>AIzaSyBW39eRGMQE2uwuk1_m8VdSCH10UYQdcOs</string>
	<key>GCM_SENDER_ID</key>
	<string>516453685134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itr.weight-tracker</string>
	<key>PROJECT_ID</key>
	<string>weight-tracker-2d560</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-tracker-2d560.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516453685134:ios:ab9322e22a2613ed52b6df</string>
</dict>
</plist>